.cards {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
    
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 413px); 
    justify-content: center;
    gap: 40px 20px;

}

@media screen and (max-width:1320px) {
    .cards__list {
        grid-template-columns: repeat(2, 413px);
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width:880px) and (min-width:630px) {
   .cards__list {
        grid-template-columns:  repeat(1, 413px);
        gap: 20px;
        justify-content: center;
    }


}

@media screen and (max-width:630px) {
    .cards__list {
        grid-template-columns: repeat(1, 288px);
    }
}

