.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 355px;
  -webkit-box-orient: vertical;
}

.card__like-button {
  background-image: url(../images/Like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card__like-button:hover {
  background-image: url(../images/Like\ button\ hover.svg);
  width: 23px;
  height: 20px;
  opacity: 100%;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
