.content {
    padding: 20px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
    margin: 0 auto;
}

@media screen and (max-width: 630px) {
    
    .content {
        padding: 20px 16px 20px;
    }
}