.content {
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (max-width:1320px) {
    
    .content {
        padding: 0 20px; 
        margin: 0 auto;
    }
    
}

@media screen and (max-width:880px) and (min-width: 630px) {
    .content {
        padding: 0 20px;
    }
}

@media screen and (max-width: 630px) {
    
    .content {
        padding: 0 20px;
    }
}