.footer {
  padding: 20px;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center; 
  justify-content: center;
}

.footer__copyright {
  color: #212121;
  margin: 0; 
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  opacity: 0.7;
  
}