.modal {
    visibility: hidden;
    opacity: 0;
    transition: 0.7s opacity ease, 0.7s visibility ease;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.modal_is-opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
}

.modal__input {
    display: block;
    max-width: none;
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    border-radius: 8px;
    margin: 8px 0 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 110%;
    opacity: 40%;
    background-color: transparent;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.modal__input:hover {
    opacity: 100%;
}

.modal__close-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 32px;
    right: 50px;
    background: none;
    border: none;
    background-image: url(../images/Close\ Icon.svg);
    cursor: pointer;
    transition: opacity 0.3s;
    
}

.modal__title {
    margin: 0 0 32px;
    width: 169px;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
}

.modal__description {
    display: flex;
    align-items: flex-start;
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 110%;
}

.modal__label {
    margin: 0 0 32px;
    max-width: none;
    width: 100%;

}

.modal__submit-button {
    max-width: 156px;
    width: 100%;
    height: 52px;
    background-color: #212121;
    color: #fcf5e5;
    border-radius: 8px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.modal__input::placeholder {
    color: #2121214d;

}

@media screen and (max-width: 630px) {
    .modal {
        display: flex;
    }

    .modal__title {
        margin: 10px 0 24px;
    }

    .modal__label {
        margin: 0;
        max-width: 630px;
        width: 100%;
    }
    
    .modal__description {
        margin-top: 24px;
    }
    
    .modal__container {
        justify-content: center;
        height: 336px;
        gap: 24px;
        padding: 12px;
    }

    .modal__input {
        width: 100%;
    }

    .modal__close-button {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .modal__submit-button {
        max-width: none;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 12px;
    }
}
