.modal {
    visibility: hidden;
    opacity: 0;
    transition: 0.7s opacity ease, 0.7s visibility ease;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modal_type_preview {
    padding: 0 16px;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
    box-sizing: border-box;
}

.modal__image-container {
  position: relative;
}

.modal__image-preview {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.modal__caption {
    background-color: #212121;
    color: #fff;
    font-size:  20px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    padding: 8px 16px;
    border-radius: 0 0 8px 8px;
    position: absolute;
    margin: 8px 0 0;
}

.modal__input {
    display: block;
    max-width: none;
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #21212166;
    margin: 8px 0 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 110%;
    opacity: 0.4;
    background-color: transparent;
    transition: opacity 0.3s ease;
}

.modal__input:hover {
    opacity: 100%;
}

.modal__close-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 32px;
    right: 50px;
    background: none;
    border: none;
    background-image: url(../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.3s;
    
}

.modal__close-button_preview {
    top: 0;
    right: -52.5px;
    background-image: url(../images/Close\ button\ preview.svg);
    cursor: pointer;
    border: none;
}

.modal__close-button_preview:hover {
    opacity: 0.7;
}

.modal__close-button:hover {
    opacity: 0.7;
}

.modal__title {
    margin: 0 0 32px;
    width: 169px;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
}

.modal__description {
    display: flex;
    align-items: flex-start;
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 110%;
}

.modal__label {
    margin: 0 0 32px;
    max-width: none;
    width: 100%;

}

.modal__submit-button {
    max-width: 156px;
    width: 100%;
    height: 52px;
    background-color: #212121;
    color: #fcf5e5;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.modal__submit-button:hover {
    background-color: #424242;
    cursor: pointer;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.modal__input::placeholder {
    color: #2121214d;

}

@media screen and (max-width: 630px) {
    .modal {
        display: flex;
    }

    .modal__caption {
        font-size: 16px;
    }  

    .modal__title {
        margin: 10px 0 24px;
        font-size: 20px;
    }

    .modal__label {
        margin: 0;
        max-width: 630px;
        width: 100%;
    }
    
    .modal__description {
        margin-top: 24px;
    }
    
    .modal__container {
        justify-content: center;
        height: auto;
        max-width: 100%;
        overflow-y: auto;
        gap: 24px;
        padding: 12px;
    }

    .modal__image-container {
        position: relative;
        gap: 8px;
    }

    .modal__input {
        width: 100%;
    }

    .modal__close-button {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .modal__submit-button {
        max-width: none;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 630px) {
    .modal__close-button_preview {
        top: -48px;
        right: 0;
        background-image: url(../images/Close\ button\ preview.svg);
        cursor: pointer;
        transition: opacity 0.3s, top 0.3s ease, right 0.3s ease;
    }

    .modal__image-preview {
        max-width: unset;
    }
    
    .modal__close-button_preview:hover {
        opacity: 0.7;
    }
}
