.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    margin-right: 20px;
    height: 190px;
    width: 190px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 420px;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    color: #212121;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100%;
 }


.profile__description {
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #212121;
    opacity: 70%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__edit-button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    margin-right: 20px;
    background: none;
    border: none;
    color: #212121;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
    opacity: 1;
}

.profile__add-button {
    margin-left: auto;
    margin-top: auto;
    width: 149px;
    height: 52px;
    border-radius: 8px;
    background-color: black;
    color: #fcf5e5;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.8;
    background-color: black;
}

@media screen and (max-width: 630px) {
    .profile{
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
        margin-bottom: 12px;
    }

    .profile__name {
        font-size: 20px;
        margin: 0 0 6px;
        max-width: 282px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
       
    }

    .profile__description {
        margin: 0 0 32px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    .profile__column {
        margin: 0 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile__edit-button {
        margin: 0;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    .profile__add-button {
        margin: 0;
        width: 288px;
    }

    .profile__add-button:hover {
        opacity: 0.8;
        background-color: black;
    }

}